doctype 5
html(lang='es')
    head
        title Multicontainer app
        style.
            .container {
                width: 100%;
                min-width: 100vh;
                display: flex;
                justify-content: center;
            }
    body
        div.container
            p.text El fibonacci del número #{number} es #{result}